@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
}

.scrollBar::-webkit-scrollbar {
    display: none;
}
.scrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

.owl-dots {
    @apply h-0;
}

[x-cloak] {
    display: none;
}
